@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.card {
    position: relative;
    cursor: pointer;
    color: white;
}
.after_card {
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 8px;
    transition: all 0.4s;
    opacity: 1;
}
.before_card {
    transform: rotateY(-90deg);
    transition: all 0.8s;
    position:relative;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction:column; 
    justify-content: center; 
    align-items:center; 
    height: 194px; 
    width: 125px; 
    border-radius: 2px;
    background-color: white;
}
.right {
    border: none;
    position: absolute;
    z-index: 999;
    top: 15px;
    left: -65px;
    height: 200px;
    opacity: .8;
    display: none;
}
.wrong {
    border: none;
    position: absolute;
    z-index: 99;
    top: 55px;
    left: -65px;
    height: 130px;
    opacity: .8;
    display: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: black;
    font-size: 23pt;
    font-family: 'Press Start 2p';
  }
.video-game-button {
    text-shadow: 1px 1px pink, -1px -1px maroon;

    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    width: 1.5em;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    -o-border-radius: .75em;
        border-radius: .75em;
    background-color: red;
    -webkit-box-shadow:  0 .2em maroon;
    -moz-box-shadow:  0 .2em maroon;
    -o-box-shadow:  0 .2em maroon;
    box-shadow:  0 .2em maroon;
    color: red;
    margin: 5px;
    background-color: red;
    background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
    cursor: pointer;
}
.start-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}